.vdrop{
	position: relative;
	z-index: 1000;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.vdrop .selector{
	position: relative;
	padding: 5px 40px 5px 5px;
	cursor: pointer;
	border-radius: 5px;
	background: #ddd;
}

.vdrop ul{
	position: absolute;
	display: none;
	width: 100%;
	z-index: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #eee;
}

.vdrop.expanded{
	z-index: 1001;
}

.vdrop.expanded .selector{
	border-radius: 5px 5px 0 0;
}

.vdrop.expanded ul{
	display: block;
	border-radius: 0 0 5px 5px;
}

.vdrop li.selected a{
	text-decoration: underline;
}

.vdrop a{
	display: block;
	padding: 5px 5px;
	white-space: nowrap;
}

.vdrop a{
	line-height: 20px;
}

.vdrop.disabled .selector{
	background: #ddd !important;
	box-shadow: none !important;
	border: none !important;
}

.vdrop .arrow{
	position: absolute;
	right: 6px;
	top: 6px;
	color: #666;
	z-index: 1;
}