.vdrop.default .selector{
	background-color: #9ab;
	box-shadow: inset 0 25px 25px -10px rgba(255, 255, 255, 0.9);
	border: 1px solid #abc;
}

.vdrop.default .selector:hover{
	background-color: #bcd;
}

.vdrop.default ul{
	position: absolute;
	background: #eee;
	max-height: 180px;
	overflow: auto;
	margin: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.vdrop.default a,
.vdrop.default a:visited{
	color: #000;
}

.vdrop.default a:hover{
	text-decoration: none;
	background: #9ce;
}

.vdrop.default a.selected{
	text-decoration: none;
	background: #058;
	color: #fff;
}